# Python
*.pyc
*~
__pycache__

# Env
.env
myvenv/
venv/

# Database
db.sqlite3

# Static files
static/

# Media
media/

# OS
.DS_Store

# IDE
.idea/
.vscode/

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Django REST Framework
api/migrations/
